<div class="download_area" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xl-10">
                <div class="download_text">
                    <h3>I’m a software Developer/Engineer based in Nigeria who love clean, simple & unique design with awesome user experience </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="download_left">
                    <p>I major in Python programming language with Django framework. I work seemlessly with Relational Databaese such as MySql, MSSql, PosgreSql, DBSqlite and more
                    </p>
                    <p>A skilled software Enginner who handles projects from scratch with simplified codes for team members to understand</p>
                    <a href="#" class="boxed-btn3-line">Download CV</a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-6">
                <div class="progress_skills">
                    <div class="single_progress">
                        <div class="label d-flex justify-content-between">
                            <span>Python (Django)</span>
                            <!-- <span>90%</span> -->
                        </div>
                            <div class="progress">
                                    <div class="progress-bar " role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                    </div>
                    <div class="single_progress">
                            <div class="label d-flex justify-content-between">
                                    <span>Databases (MySQL, MSSql, PosgreSql, DBSqlite)</span>
                                    <!-- <span>100%</span> -->
                                </div>
                            <div class="progress">
                                    <div class="progress-bar " role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                    </div>
                    <div class="single_progress">
                            <div class="label d-flex justify-content-between">
                                    <span>JavaScript/React</span>
                                    <!-- <span>45%</span> -->
                                </div>
                            <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>